.body {
    /* Background */
    background-color: rgb(193, 193, 193);

    /* Size */
    height: fit-content;

    /* Padding */
    padding-top: 100px;
    padding-bottom: 150px;

    /* Text */
    text-align: center;
}

.contentBox {
    /* Display */
    display: inline-block;

    /* Background */
    background-color: white;

    /* Padding */
    padding: 10px;

    /* Border */
    border: 1px solid black;
    border-radius: 10px
}