<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pm05-gear</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">HaiNhi190619.</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="hibernate.connection.pool_size">10</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!--
            Allow Hibernate to automatically build database's tables
            based on mapping informations
        -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Mapping classes -->
        <mapping class="gdu.pm05.group1.pcshop.model.User"/>
        <mapping class="gdu.pm05.group1.pcshop.model.UserInfo"/>
        <mapping class="gdu.pm05.group1.pcshop.model.Notification"/>
        <mapping class="gdu.pm05.group1.pcshop.model.UserNotification"/>
        <mapping class="gdu.pm05.group1.pcshop.model.Cart"/>
        <mapping class="gdu.pm05.group1.pcshop.model.CartItem"/>
        <mapping class="gdu.pm05.group1.pcshop.model.Item"/>
        <mapping class="gdu.pm05.group1.pcshop.model.ItemImage"/>
        <mapping class="gdu.pm05.group1.pcshop.model.ItemType"/>
        <mapping class="gdu.pm05.group1.pcshop.model.Order"/>
        <mapping class="gdu.pm05.group1.pcshop.model.OrderItem"/>
    </session-factory>
</hibernate-configuration>